body{
    background-image: url('img/aaa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.wid{
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.wid h4{
    text-align: center;
}
.wid input, .wid select{
    margin-bottom: 25px;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.loginBtn{
    background-color: purple;
    color: white;
    text-decoration: none;
}
.regBtn{
    width: 100%;
        border-radius: 30px;
        padding: 10px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: lightblue;
}
.regBtn a{
    color: black;
    text-decoration: none;
}